<ng-container *ngIf="control else noControl">
  <p-calendar #calendar class="datepicker -{{ selectionMode }}" [class.-showing]="showing$ | async" [inputId]="inputId" [selectionMode]="selectionMode" (onShow)="onOpen()" (onMonthChange)="onMonthChange()" (onYearChange)="onYearChange()" (onClose)="onClose()" [numberOfMonths]="asNumber(numberOfMonths$ | async)" panelStyleClass="{{ showPredefinedRanges ? '-has-ranges' : '' }}"  dateFormat="dd/mm/yy" [formControl]="control" (onInput)="changed.emit($event)" (onSelect)="changed.emit($event)">
    <ng-template pTemplate="header">
      <ng-container [ngTemplateOutlet]="header"></ng-container>
    </ng-template>

    <ng-template pTemplate="footer">
      <ng-container [ngTemplateOutlet]="footer"></ng-container>
    </ng-template>
  </p-calendar>
</ng-container>
<ng-template #noControl>
  <p-calendar #calendar class="datepicker -{{ selectionMode }}" [class.-showing]="showing$ | async" [inputId]="inputId" [selectionMode]="selectionMode" (onShow)="onOpen()" (onClose)="onClose()" [numberOfMonths]="asNumber(numberOfMonths$ | async)" panelStyleClass="{{ showPredefinedRanges ? '-has-ranges' : '' }}"  dateFormat="dd/mm/yy">
    <ng-template pTemplate="header">
      <ng-container [ngTemplateOutlet]="header"></ng-container>
    </ng-template>

    <ng-template pTemplate="footer">
      <ng-container [ngTemplateOutlet]="footer"></ng-container>
    </ng-template>
  </p-calendar>
</ng-template>

<ng-template #header>
  <p-menu #predefinedRangesMenu class="datepicker__predefined-ranges" *ngIf="showPredefinedRanges && selectionMode === 'range'" [model]="predefinedRanges"></p-menu>
</ng-template>

<ng-template #footer>
  <div class="datepicker__actions">
    <button type="button" (click)="$calendar.toggle()" class="btn btn-primary btn-sm datepicker__btn order-2">Close</button>
    <button *ngIf="clearable" type="button" (click)="clear()" class="btn btn-link btn-sm datepicker__btn -clear order-1">Clear</button>
  </div>
</ng-template>
